<div class="card">
    <div class="card-header">
        App Server
    </div>
    <ul class="list-group list-group-flush">
        <% for (let i = 0; i < appServerStatus.length; i++) { %>
            <li class="list-group-item">
                <div class="row align-items-center">
                    <div class="col-10">
                        <% if(appServerStatus[i].status == false){ %>
                            <%= appServerStatus[i].name %>
                        <% } else{ %>
                            <a href="<%= appServerStatus[i].url %>"><%= appServerStatus[i].name %></a>
                        <% } %>
                    </div>
                    <div class="col-2">
                        <% if(appServerStatus[i].status == false) { %>
                            <img src="img/twitch/icon_offline.png" class="img-fluid">
                        <% } else { %>
                            <img src="img/twitch/icon_online.png" class="img-fluid">
                        <% } %>
                    </div>
                </div>
            </li>
        <% } %>
    </ul>
    <div class="card-header">
        Web Server
    </div>
    <ul class="list-group list-group-flush">
        <% for (var i = 0; i < webServerStatus.length; i++) { %>
            <li class="list-group-item">
                <div class="row align-items-center">
                    <div class="col-10">
                        <% if(webServerStatus[i].status == false){ %>
                            <%= webServerStatus[i].name %>
                        <% } else{ %>
                                <a href="<%= webServerStatus[i].url %>"><%= webServerStatus[i].name %></a>
                        <% } %>
                    </div>
                    <div class="col-2">
                        <% if(webServerStatus[i].status == false) { %>
                            <img src="img/twitch/icon_offline.png" class="img-fluid">
                        <% } else { %>
                            <img src="img/twitch/icon_online.png" class="img-fluid">
                        <% } %>
                    </div>
                </div>
            </li>
        <% } %>
    </ul>
    <div class="card-header">
        Game Server
    </div>
    <ul>
        <% for (var i = 0; i < gameServerStatus.length; i++) { %>
            <li class="list-group-item">
                <div class="row align-items-center">
                    <div class="col-10">
                        <% if(gameServerStatus[i].status == false){ %>
                            <%= gameServerStatus[i].name %>
                        <% } else{ %>
                            <a href="<%= gameServerStatus[i].url %>"><%= gameServerStatus[i].name %></a>
                        <% } %>
                    </div>
                    <div class="col-2">
                        <% if(gameServerStatus[i].status == false) { %>
                            <img src="img/twitch/icon_offline.png" class="img-fluid">
                        <% } else { %>
                            <img src="img/twitch/icon_online.png" class="img-fluid">
                        <% } %>
                    </div>
                </div>
            </li>
        <% } %>
    </ul>
</div>
<br>