<% include partials/header.ejs %>

<!-- TODO - Popups only on index page -->
<% include partials/streamToasts.ejs %>

<!-- Include Sidebar -->
<% include partials/sidebar.ejs %>

<!-- Start Page Content -->
<div id="content">

    <!-- Include Navigation -->
    <% include partials/topNav.ejs %>
    <% include partials/loadingSpinner.ejs %>

    <div class="container" id="main-content">
        <br>
        <div class="row">
            <!-- Content -->
            <div class="col-12">
                <!-- Services -->
                <div class="row">
                    <% for(let i = 0; i < data.services.length; i++) { %>
                        <div class="col-sm-12 col-md-6">
                            <a href="<%= data.services[i].url %>">
                                <div class="list-group-item list-group-item-action">
                                    <div class="row no-gutters">
                                        <div class="col-md-4">
                                            <img src="<%= data.services[i].img %>" class="card-img" id="serviceItem">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title"><b><%= data.services[i].name %></b></h5>
                                                <p class="card-text"><%= data.services[i].description %></p>
                                                <p class="text-right">
                                                    <small>powered by: <%= data.services[i].sponsor %></small>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <br>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        <br>
    </div>

    <!-- Include Bottom Content -->
    <% include partials/bottom.ejs %>

    <!-- End Content -->
</div>

<% include partials/footer.ejs %>