<% include partials/header.ejs %>
<% include partials/sidebar.ejs %>

<div id="content">
    <!-- Include Navigation -->
    <% include partials/topNav.ejs %>
    <% include partials/loadingSpinner.ejs %>

    <div id="main-content">
        <!-- Container - About -->
        <div class="container">
            <br>
            <h1 class="text-center">Privacy / Datenschutz</h1>
            <h2 class="text-center">Datenschutz auf einen Blick</h2>
            <h3 class="text-center">Allgemeine Hinweise</h3>
            <p class="text-justify">
                Die folgenden Hinweise geben einen einfachen Überblick darüber, was mit Ihren personenbezogenen Daten
                passiert,
                wenn Sie unsere Website besuchen. Personenbezogene Daten sind alle Daten, mit denen Sie persönlich
                identifiziert
                werden können. Ausführliche Informationen zum Thema Datenschutz entnehmen Sie unserer unter diesem Text
                aufgeführten Datenschutzerklärung.
            </p>
            <h3 class="text-center">Datenerfassung auf unserer Website</h3>
            <h5 class="text-center">Wer ist verantwortlich für die Datenerfassung auf dieser Website?</h5>
            <p class="text-justify text-center">
                Die Datenverarbeitung auf dieser Website erfolgt durch den Websitebetreiber. Dessen Kontaktdaten können Sie
                dem
                <a href="/about"><u>Impressum</u></a> dieser Website entnehmen.
            </p>
            <h5 class="text-center">Wie erfassen wir Ihre Daten?</h5>
            <p class="text-justify text-center">
                Ihre Daten werden zum einen dadurch erhoben, dass Sie uns diese mitteilen. Hierbei kann es sich z.B. um
                Daten
                handeln, die Sie in ein Kontaktformular eingeben.<br>
                Andere Daten werden automatisch beim Besuch der Website durch unsere IT-Systeme erfasst. Das sind vor allem
                technische Daten (z.B. Internetbrowser, Betriebssystem oder Uhrzeit des Seitenaufrufs). Die Erfassung dieser
                Daten erfolgt automatisch, sobald Sie unsere Website betreten.
            </p>
            <h5 class="text-center">Wofür nutzen wir Ihre Daten?</h5>
            <p class="text-justify text-center">
                Ein Teil der Daten wird erhoben, um eine fehlerfreie Bereitstellung der Website zu gewährleisten. Andere
                Daten
                können zur Analyse Ihres Nutzerverhaltens verwendet werden.
            </p>
            <h5 class="text-center">Welche Rechte haben Sie bezüglich Ihrer Daten?</h5>
            <p class="text-justify text-center">
                Sie haben jederzeit das Recht unentgeltlich Auskunft über Herkunft, Empfänger und Zweck Ihrer gespeicherten
                personenbezogenen Daten zu erhalten. Sie haben außerdem ein Recht, die Berichtigung, Sperrung oder Löschung
                dieser Daten zu verlangen. Hierzu sowie zu weiteren Fragen zum Thema Datenschutz können Sie sich jederzeit
                unter der im Impressum angegebenen Adresse an uns wenden. Des Weiteren steht Ihnen ein Beschwerderecht bei
                der
                zuständigen Aufsichtsbehörde zu.<br>
                Außerdem haben Sie das Recht, unter bestimmten Umständen die Einschränkung der Verarbeitung Ihrer
                personenbezogenen Daten zu verlangen. Details hierzu entnehmen Sie der Datenschutzerklärung unter „Recht auf
                Einschränkung der Verarbeitung“.
            </p>
            <h5 class="text-center">Analyse-Tools und Tools von Drittanbietern</h5>
            <p class="text-justify text-center">
                Beim Besuch unserer Website kann Ihr Surf-Verhalten statistisch ausgewertet werden. Das geschieht vor allem
                mit
                Cookies und mit sogenannten Analyseprogrammen. Die Analyse Ihres Surf-Verhaltens erfolgt in der Regel
                anonym;
                das Surf-Verhalten kann nicht zu Ihnen zurückverfolgt werden. Sie können dieser Analyse widersprechen oder
                sie
                durch die Nichtbenutzung bestimmter Tools verhindern. Detaillierte Informationen dazu finden Sie in der
                folgenden Datenschutzerklärung.<br>
                Sie können dieser Analyse widersprechen. Über die Widerspruchsmöglichkeiten werden wir Sie in dieser
                Datenschutzerklärung informieren.
            </p>

            <h5 class="text-center">Übrige Einbindung von Diensten und Inhalten Dritter</h5>
            <p class="text-justify">
                Es kann vorkommen, dass innerhalb dieses Onlineangebotes Inhalte Dritter, wie zum Beispiel Videos von
                YouTube,
                Twitch, RSS-Feeds oder Grafiken von anderen Webseiten eingebunden werden. Dies setzt immer voraus, dass die
                Anbieter dieser Inhalte (nachfolgend bezeichnet als „Dritt-Anbieter“) die IP-Adresse der Nutzer wahr nehmen.
                Denn ohne die IP-Adresse, könnten sie die Inhalte nicht an den Browser des jeweiligen Nutzers senden. Die
                IP-Adresse ist damit für die Darstellung dieser Inhalte erforderlich. Wir bemühen uns nur solche Inhalte zu
                verwenden, deren jeweilige Anbieter die IP-Adresse lediglich zur Auslieferung der Inhalte verwenden. Jedoch
                haben wir keinen Einfluss darauf, falls die Dritt-Anbieter die IP-Adresse z.B. für statistische
                Zweckespeichern.
                Soweit uns diesbekannt ist, klären wir die Nutzer darüber auf.
            </p>

            <div class="dropdown-divider"></div>

            <h2 class="text-center">Allgemeine Hinweise und Pflichtinformationen</h2>
            <h3 class="text-center">Datenschutz</h3>
            <p class="text-justify">
                Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten sehr ernst. Wir behandeln Ihre
                personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser
                Datenschutzerklärung.<br>
                Wenn Sie diese Website benutzen, werden verschiedene personenbezogene Daten erhoben. Personenbezogene Daten
                sind
                Daten, mit denen Sie persönlich identifiziert werden können. Die vorliegende Datenschutzerklärung erläutert,
                welche Daten wir erheben und wofür wir sie nutzen. Sie erläutert auch, wie und zu welchem Zweck das
                geschieht.
                Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail)
                Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht
                möglich.
            </p>

            <h3 class="text-center">Hinweis zur verantwortlichen Stelle</h3>
            <p class="text-center">
                Die verantwortliche Stelle für die Datenverarbeitung auf dieser Website ist:
                <br/><%= data.about.homepage %>
                <br/><%= data.about.name %>
                <br/><%= data.about.address %>
                <br/><%= data.about.postalCode %> <%= data.about.town %>
                <br/><%= data.about.country %>
                <br/>E-Mail: <%= data.about.email %>
            </p>
            <p class="text-center">
                Die verantwortliche Stelle ist die natürliche oder juristische Person, die allein oder gemeinsam mit anderen
                über die Zwecke und Mittel der Verarbeitung von personenbezogenen Daten (z.B. Namen, E-Mail-Adressen o. Ä.)
                entscheidet.
            </p>

            <h3 class="text-center">Widerruf Ihrer Einwilligung zur Datenverarbeitung</h3>
            <p class="text-justify">
                Viele Datenverarbeitungsvorgänge sind nur mit Ihrer ausdrücklichen Einwilligung möglich. Sie können eine
                bereits
                erteilte Einwilligung jederzeit widerrufen. Dazu reicht eine formlose Mitteilung per E-Mail an uns. Die
                Rechtmäßigkeit der bis zum Widerruf erfolgten Datenverarbeitung bleibt vom Widerruf unberührt.
            </p>

            <h3 class="text-center">Widerspruchsrecht gegen die Datenerhebung in besonderen Fällen sowie gegen Direktwerbung
                (Art. 21 DSGVO)</h3>
            <p class="text-justify">
                Wenn die Datenverarbeitung auf Grundlage von Art. 6 Abs. 1 lit. e oder f DSGVO erfolgt, haben Sie jederzeit
                das
                Recht, aus Gründen, die sich aus Ihrer besonderen Situation ergeben, gegen die Verarbeitung Ihrer
                personenbezogenen Daten Widerspruch einzulegen; dies gilt auch für ein auf diese Bestimmungen gestütztes
                Profiling. Die jeweilige Rechtsgrundlage, auf denen eine Verarbeitung beruht, entnehmen Sie dieser
                Datenschutzerklärung. Wenn Sie Widerspruch einlegen, werden wir Ihre betroffenen personenbezogenen Daten
                nicht
                mehr verarbeiten, es sei denn, wir können zwingende schutzwürdige Gründe für die Verarbeitung nachweisen,
                die
                Ihre Interessen, Rechte und Freiheiten überwiegen oder die Verarbeitung dient der Geltendmachung, Ausübung
                oder Verteidigung von Rechtsansprüchen (Widerspruch nach Art. 21 Abs. 1 DSGVO).<br>

                Werden Ihre personenbezogenen Daten verarbeitet, um Direktwerbung zu betreiben, so haben Sie das Recht,
                jederzeit Widerspruch gegen die Verarbeitung Sie betreffender personenbezogener Daten zum Zwecke derartiger
                Werbung einzulegen; dies gilt auch für das Profiling, soweit es mit solcher Direktwerbung in Verbindung
                steht.
                Wenn Sie widersprechen, werden Ihre personenbezogenen Daten anschließend nicht mehr zum Zwecke der
                Direktwerbung
                verwendet (Widerspruch nach Art. 21 Abs. 2 DSGVO).
            </p>

            <h3 class="text-center">Beschwerderecht bei der zuständigen Aufsichtsbehörde</h3>
            <p class="text-justify">
                Im Falle von Verstößen gegen die DSGVO steht den Betroffenen ein Beschwerderecht bei einer Aufsichtsbehörde,
                insbesondere in dem Mitgliedstaat ihres gewöhnlichen Aufenthalts, ihres Arbeitsplatzes oder des Orts des
                mutmaßlichen Verstoßes zu. Das Beschwerderecht besteht unbeschadet anderweitiger verwaltungsrechtlicher oder
                gerichtlicher Rechtsbehelfe.
            </p>

            <h3 class="text-center">Recht auf Datenübertragbarkeit</h3>
            <p class="text-justify">
                Sie haben das Recht, Daten, die wir auf Grundlage Ihrer Einwilligung oder in Erfüllung eines Vertrags
                automatisiert verarbeiten, an sich oder an einen Dritten in einem gängigen, maschinenlesbaren Format
                aushändigen
                zu lassen. Sofern Sie die direkte Übertragung der Daten an einen anderen Verantwortlichen verlangen, erfolgt
                dies nur, soweit es technisch machbar ist.
            </p>

            <h3 class="text-center">SSL- bzw. TLS-Verschlüsselung</h3>
            <p class="text-justify">
                Diese Seite nutzt aus Sicherheitsgründen und zum Schutz der Übertragung vertraulicher Inhalte, wie zum
                Beispiel
                Bestellungen oder Anfragen, die Sie an uns als Seitenbetreiber senden, eine SSL-bzw. TLS-Verschlüsselung.
                Eine
                verschlüsselte Verbindung erkennen Sie daran, dass die Adresszeile des Browsers von “http://” auf “https://”
                wechselt und an dem Schloss-Symbol in Ihrer Browserzeile.<br>
                Wenn die SSL- bzw. TLS-Verschlüsselung aktiviert ist, können die Daten, die Sie an uns übermitteln, nicht
                von
                Dritten mitgelesen werden.
            </p>

            <h3 class="text-center">Auskunft, Sperrung, Löschung und Berichtigung</h3>
            <p class="text-justify">
                Sie haben im Rahmen der geltenden gesetzlichen Bestimmungen jederzeit das Recht auf unentgeltliche Auskunft
                über
                Ihre gespeicherten personenbezogenen Daten, deren Herkunft und Empfänger und den Zweck der Datenverarbeitung
                und
                ggf. ein Recht auf Berichtigung, Sperrung oder Löschung dieser Daten. Hierzu sowie zu weiteren Fragen zum
                Thema
                personenbezogene Daten können Sie sich jederzeit unter der im Impressum angegebenen Adresse an uns wenden.
            </p>

            <h3 class="text-center">Recht auf Einschränkung der Verarbeitung</h3>
            <p class="text-justify">
                Sie haben das Recht, die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen. Hierzu
                können Sie sich jederzeit unter der im Impressum angegebenen Adresse an uns wenden. Das Recht auf
                Einschränkung
                der Verarbeitung besteht in folgenden Fällen:
            </p>
            <ul>
                <li>
                    Wenn Sie die Richtigkeit Ihrer bei uns gespeicherten personenbezogenen Daten bestreiten, benötigen wir
                    in
                    der Regel Zeit, um dies zu überprüfen. Für die Dauer der Prüfung haben Sie das Recht, die Einschränkung
                    der
                    Verarbeitung Ihrer personenbezogenen Daten zu verlangen.
                </li>
                <li>
                    Wenn die Verarbeitung Ihrer personenbezogenen Daten unrechtmäßig geschah / geschieht, können Sie statt
                    der
                    Löschung die Einschränkung der Datenverarbeitung verlangen.
                </li>
                <li>
                    Wenn wir Ihre personenbezogenen Daten nicht mehr benötigen, Sie sie jedoch zur Ausübung, Verteidigung
                    oder
                    Geltendmachung von Rechtsansprüchen benötigen, haben Sie das Recht, statt der Löschung die Einschränkung
                    der
                    Verarbeitung Ihrer personenbezogenen Daten zu verlangen.
                </li>
                <li>
                    Wenn Sie einen Widerspruch nach Art. 21 Abs. 1 DSGVO eingelegt haben, muss eine Abwägung zwischen Ihren
                    und
                    unseren Interessen vorgenommen werden. Solange noch nicht feststeht, wessen Interessen überwiegen, haben
                    Sie
                    das Recht, die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen.
                </li>
            </ul>
            <p class="text-justify">
                Wenn Sie die Verarbeitung Ihrer personenbezogenen Daten eingeschränkt haben, dürfen diese Daten – von ihrer
                Speicherung abgesehen – nur mit Ihrer Einwilligung oder zur Geltendmachung, Ausübung oder Verteidigung von
                Rechtsansprüchen oder zum Schutz der Rechte einer anderen natürlichen oder juristischen Person oder aus
                Gründen
                eines wichtigen öffentlichen Interesses der Europäischen Union oder eines Mitgliedstaats verarbeitet werden.
            </p>

            <div class="dropdown-divider"></div>

            <h2 class="text-center">Datenerfassung auf unserer Website</h2>
            <h3 class="text-center">Cookies</h3>
            <p class="text-justify">
                Die Internetseiten verwenden teilweise so genannte Cookies. Cookies richten auf Ihrem Rechner keinen Schaden
                an
                und enthalten keine Viren. Cookies dienen dazu, unser Angebot nutzerfreundlicher, effektiver und sicherer zu
                machen. Cookies sind kleine Textdateien, die auf Ihrem Rechner abgelegt werden und die Ihr Browser
                speichert.
                <br>
                Die meisten der von uns verwendeten Cookies sind so genannte “Session-Cookies”. Sie werden nach Ende Ihres
                Besuchs automatisch gelöscht. Andere Cookies bleiben auf Ihrem Endgerät gespeichert bis Sie diese löschen.
                Diese
                Cookies ermöglichen es uns, Ihren Browser beim nächsten Besuch wiederzuerkennen.
                <br>
                Sie können Ihren Browser so einstellen, dass Sie über das Setzen von Cookies informiert werden und Cookies
                nur
                im Einzelfall erlauben, die Annahme von Cookies für bestimmte Fälle oder generell ausschließen sowie das
                automatische Löschen der Cookies beim Schließen des Browser aktivieren. Bei der Deaktivierung von Cookies
                kann
                die Funktionalität dieser Website eingeschränkt sein.
                <br>
                Cookies, die zur Durchführung des elektronischen Kommunikationsvorgangs oder zur Bereitstellung bestimmter,
                von
                Ihnen erwünschter Funktionen (z.B. Warenkorbfunktion) erforderlich sind, werden auf Grundlage von Art. 6
                Abs. 1
                lit. f DSGVO gespeichert. Der Websitebetreiber hat ein berechtigtes Interesse an der Speicherung von Cookies
                zur
                technisch fehlerfreien und optimierten Bereitstellung seiner Dienste. Soweit andere Cookies (z.B. Cookies
                zur
                Analyse Ihres Surfverhaltens) gespeichert werden, werden diese in dieser Datenschutzerklärung gesondert
                behandelt.
            </p>

            <h3 class="text-center">Server-Log-Dateien</h3>
            <p class="text-justify">
                Der Provider der Seiten erhebt und speichert automatisch Informationen in so genannten Server-Log-Dateien,
                die
                Ihr Browser automatisch an uns übermittelt. Dies sind:
            </p>
            <ul>
                <li>
                    Browsertyp und Browserversion
                </li>
                <li>
                    verwendetes Betriebssystem
                </li>
                <li>
                    Referrer URL
                </li>
                <li>
                    Hostname des zugreifenden Rechners
                </li>
                <li>
                    Uhrzeit der Serveranfrage
                </li>
                <li>
                    IP-Adresse
                </li>
            </ul>
            <p class="text-justify">
                Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen.<br>
                Die Erfassung dieser Daten erfolgt auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO. Der Websitebetreiber hat
                ein
                berechtigtes Interesse an der technisch fehlerfreien Darstellung und der Optimierung seiner Website – hierzu
                müssen die Server-Log-Files erfasst werden.
            </p>

            <h3 class="text-center">Kontaktformular</h3>
            <p class="text-justify">
                Wenn Sie uns per Kontaktformular Anfragen zukommen lassen, werden Ihre Angaben aus dem Anfrageformular
                inklusive
                der von Ihnen dort angegebenen Kontaktdaten zwecks Bearbeitung der Anfrage und für den Fall von
                Anschlussfragen
                bei uns gespeichert. Diese Daten geben wir nicht ohne Ihre Einwilligung weiter.
                <br>
                Die Verarbeitung der in das Kontaktformular eingegebenen Daten erfolgt somit ausschließlich auf Grundlage
                Ihrer
                Einwilligung (Art. 6 Abs. 1 lit. a DSGVO). Sie können diese Einwilligung jederzeit widerrufen. Dazu reicht
                eine
                formlose Mitteilung per E-Mail an uns. Die Rechtmäßigkeit der bis zum Widerruf erfolgten
                Datenverarbeitungsvorgänge bleibt vom Widerruf unberührt.
                <br>
                Die von Ihnen im Kontaktformular eingegebenen Daten verbleiben bei uns, bis Sie uns zur Löschung auffordern,
                Ihre Einwilligung zur Speicherung widerrufen oder der Zweck für die Datenspeicherung entfällt (z.B. nach
                abgeschlossener Bearbeitung Ihrer Anfrage). Zwingende gesetzliche Bestimmungen – insbesondere
                Aufbewahrungsfristen – bleiben unberührt.
            </p>

            <h2 class="text-center">Plugins und Tools</h2>
            <h3 class="text-center">Google Web Fonts</h3>
            <p class="text-justify">
                Diese Seite nutzt zur einheitlichen Darstellung von Schriftarten so genannte Web Fonts, die von Google
                bereitgestellt werden. Beim Aufruf einer Seite lädt Ihr Browser die benötigten Web Fonts in ihren
                Browsercache,
                um Texte und Schriftarten korrekt anzuzeigen.
                <br>
                Zu diesem Zweck muss der von Ihnen verwendete Browser Verbindung zu den Servern von Google aufnehmen.
                Hierdurch
                erlangt Google Kenntnis darüber, dass über Ihre IP-Adresse unsere Website aufgerufen wurde. Die Nutzung von
                Google Web Fonts erfolgt im Interesse einer einheitlichen und ansprechenden Darstellung unserer
                Online-Angebote.
                Dies stellt ein berechtigtes Interesse im Sinne von Art. 6 Abs. 1 lit. f DSGVO dar.
                <br>
                Wenn Ihr Browser Web Fonts nicht unterstützt, wird eine Standardschrift von Ihrem Computer genutzt.
                <br>
                Weitere Informationen zu Google Web Fonts finden Sie unter
                <a href="https://developers.google.com/fonts/faq"><u>https://developers.google.com/fonts/faq</u></a> und in
                der
                Datenschutzerklärung von Google:
                <a href="https://www.google.com/policies/privacy/"><u>https://www.google.com/policies/privacy/</u></a>.
            </p>

            <h3 class="text-center">Google AdSense</h3>
            <p class="text-justify">
                Diese Website verwendet Google AdSense. Es handelt sich hierbei um einen Dienst der Google Inc., 1600
                Amphitheatre Parkway, Mountain View, CA 94043, USA, zur Einbindung von Werbeanzeigen. Google AdSense
                verwendet
                Cookies. Dies sind Dateien, durch deren Speicherung dem PC Google die Daten Ihrer Benutzung unserer Website
                analysieren kann. Zudem werden bei Google AdSense zusätzlich Web Beacons verwendet, nicht sichtbare
                Grafiken,
                die es Google ermöglichen, Klicks auf dieser Website, den Verkehr auf dieser und ähnliche Informationen zu
                analysieren.
                <br>
                Die über Cookies und Web Beacons erhaltenen Informationen, Ihre IP-Adresse sowie die Auslieferung von
                Werbeformaten werden an einen Server von Google mit Standort in den USA übermittelt und dort gespeichert.
                Google
                wird diese gesammelten Informationen möglicherweise an Dritte weitergeben, wenn dies gesetzlich erforderlich
                ist
                oder Google gegenüber Dritten die Datenverarbeitung in Auftrag gibt. Allerdings wird Google Ihre IP-Adresse
                zusammen mit den anderen gespeicherten Daten zusammenführen.
                <br>
                Durch entsprechende Einstellungen an Ihrem Internetbrowser können Sie verhindern, dass die genannten Cookies
                auf
                Ihrem PC gespeichert werden. Dadurch besteht jedoch die Möglichkeit, dass die Inhalte dieser Website nicht
                mehr
                in gleichem Umfang genutzt werden können. Durch die Nutzung dieser Website willigen Sie in die Bearbeitung
                der
                zu Ihrer Person erhobenen Daten durch Google in der zuvor beschriebenen Art und Weise und zu dem zuvor
                benannten
                Zweck ein.
            </p>

            <h3 class="text-center">Google reCAPTCHA</h3>
            <p class="text-justify">
                Unser oberstes Ziel ist es, dass unsere Webseite für Sie und für uns bestmöglich geschützt und sicher ist.
                Um
                das zu gewährleisten, verwenden wir Google reCAPTCHA der Firma Google Inc. (1600 Amphitheatre Parkway
                Mountain
                View, CA 94043, USA). Mit reCAPTCHA können wir feststellen, ob Sie auch wirklich ein Mensch aus Fleisch und
                Blut
                sind und kein Roboter oder eine andere Spam-Software. Unter Spam verstehen wir jede, auf elektronischen Weg,
                unerwünschte Information, die uns ungefragter Weise zukommt. Bei den klassischen CAPTCHAS mussten Sie zur
                Überprüfung meist Text- oder Bildrätsel lösen. Mit reCAPTCHA von Google müssen wir Sie meist nicht mit
                solchen
                Rätseln belästigen. Hier reicht es in den meisten Fällen, wenn Sie einfach ein Häkchen setzen und so
                bestätigen,
                dass Sie kein Bot sind. Mit der neuen Invisible reCAPTCHA Version müssen Sie nicht mal mehr ein Häkchen
                setzen.
                Wie das genau funktioniert und vor allem welche Daten dafür verwendet werden, erfahren Sie im Verlauf dieser
                Datenschutzerklärung.
                <br>
                Rechtsgrundlage für die Verwendung ist Artikel 6 (1) f (Rechtmäßigkeit der Verarbeitung), denn es besteht
                ein
                berechtigtes Interesse diese Webseite vor Bots und Spam-Software zu schützen.
            </p>
            <h5 class="text-center">Was ist reCAPTCHA?</h5>
            <p class="text-justify">
                reCAPTCHA ist ein freier Captcha-Dienst von Google, der Webseiten vor Spam-Software und den Missbrauch durch
                nicht-menschliche Besucher schützt. Am häufigsten wird dieser Dienst verwendet, wenn Sie Formulare im
                Internet
                ausfüllen. Ein Captcha-Dienst ist ein automatischer Turing-Test, der sicherstellen soll, dass eine Handlung
                im
                Internet von einem Menschen und nicht von einem Bot vorgenommen wird. Im klassischen Turing-Test (benannt
                nach
                dem Informatiker Alan Turing) stellt ein Mensch die Unterscheidung zwischen Bot und Mensch fest. Bei
                Captchas
                übernimmt das auch der Computer bzw. ein Softwareprogramm. Klassische Captchas arbeiten mit kleinen
                Aufgaben,
                die für Menschen leicht zu lösen sind, doch für Maschinen erhebliche Schwierigkeiten aufweisen. Bei
                reCAPTCHA
                müssen Sie aktiv keine Rätsel mehr lösen. Das Tool verwendet moderne Risikotechniken, um Menschen von Bots
                zu
                unterscheiden. Hier müssen Sie nur noch das Textfeld „Ich bin kein Roboter“ ankreuzen bzw. bei Invisible
                reCAPTCHA ist selbst das nicht mehr nötig. Bei reCAPTCHA wird ein JavaScript-Element in den Quelltext
                eingebunden und dann läuft das Tool im Hintergrund und analysiert Ihr Benutzerverhalten. Aus diesen
                Useraktionen
                berechnet die Software einen sogenannten Captcha-Score. Google berechnet mit diesem Score schon vor der
                Captcha-Eingabe wie hoch die Wahrscheinlichkeit ist, dass Sie ein Mensch sind. ReCAPTCHA bzw. Captchas im
                Allgemeinen kommen immer dann zum Einsatz, wenn Bots gewisse Aktionen (wie z.B. Registrierungen, Umfragen
                usw.)
                manipulieren oder missbrauchen könnten.
            </p>
            <h5 class="text-center">Warum verwenden wir reCAPTCHA auf unserer Website?</h5>
            <p class="text-justify">
                Wir wollen nur Menschen aus Fleisch und Blut auf unserer Seite begrüßen. Bots oder Spam-Software
                unterschiedlichster Art dürfen getrost zuhause bleiben. Darum setzen wir alle Hebel in Bewegung, uns zu
                schützen
                und die bestmögliche Benutzerfreundlichkeit für Sie anzubieten. Aus diesem Grund verwenden wir Google
                reCAPTCHA
                der Firma Google. So können wir uns ziemlich sicher sein, dass wir eine „botfreie“ Webseite bleiben. Durch
                die
                Verwendung von reCAPTCHA werden Daten an Google übermittelt, die Google verwendet, um festzustellen, ob Sie
                auch
                wirklich ein Mensch sind. reCAPTCHA dient also der Sicherheit unserer Webseite und in weiterer Folge damit
                auch
                Ihrer Sicherheit. Zum Beispiel könnte es ohne reCAPTCHA passieren, dass bei einer Registrierung ein Bot
                möglichst viele E-Mail-Adressen registriert, um im Anschluss Foren oder Blogs mit unerwünschten
                Werbeinhalten
                „zuzuspamen“. Mit reCAPTCHA können wir solche Botangriffe vermeiden.
            </p>
            <h5 class="text-center">Welche Daten werden von reCAPTCHA gespeichert?</h5>
            <p class="text-justify">
                ReCAPTCHA sammelt personenbezogene Daten von Usern, um festzustellen, ob die Handlungen auf unserer Webseite
                auch wirklich von Menschen stammen. Es kann also die IP-Adresse und andere Daten, die Google für den
                reCAPTCHA-Dienst benötigt, an Google versendet werden. IP-Adressen werden innerhalb der Mitgliedstaaten der
                EU
                oder anderer Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum fast immer zuvor gekürzt,
                bevor
                die Daten auf einem Server in den USA landen. Die IP-Adresse wird nicht mit anderen Daten von Google
                kombiniert,
                sofern Sie nicht während der Verwendung von reCAPTCHA mit Ihrem Google-Konto angemeldet sind. Zuerst prüft
                der
                reCAPTCHA-Algorithmus, ob auf Ihrem Browser schon Google-Cookies von anderen Google-Diensten
                (YouTube. Gmail usw.) platziert sind. Anschließend setzt reCAPTCHA ein zusätzliches Cookie in Ihrem Browser
                und
                erfasst einen Schnappschuss Ihres Browserfensters.
                <br>
                Die folgende Liste von gesammelten Browser- und Userdaten, hat nicht den Anspruch auf Vollständigkeit.
                Vielmehr
                sind es Beispiele von Daten, die nach unserer Erkenntnis, von Google verarbeitet werden.
            </p>
            <ul>
                <li>
                    Referrer URL (die Adresse der Seite von der der Besucher kommt)
                </li>
                <li>
                    IP-Adresse (z.B. 256.123.123.1)
                </li>
                <li>
                    Infos über das Betriebssystem (die Software, die den Betrieb Ihres Computers ermöglicht. Bekannte
                    Betriebssysteme sind Windows, Mac OS X oder Linux)
                </li>
                <li>
                    Cookies (kleine Textdateien, die Daten in Ihrem Browser speichern)
                </li>
                <li>
                    Maus- und Keyboardverhalten (jede Aktion, die Sie mit der Maus oder der Tastatur ausführen wird
                    gespeichert)
                </li>
                <li>
                    Datum und Spracheinstellungen (welche Sprache bzw. welches Datum Sie auf Ihrem PC voreingestellt haben
                    wird gespeichert)
                </li>
                <li>
                    Alle Javascript-Objekte (JavaScript ist eine Programmiersprache, die Webseiten ermöglicht, sich an den
                    User
                    anzupassen. JavaScript-Objekte können alle möglichen Daten unter einem Namen sammeln)
                </li>
                <li>
                    Bildschirmauflösung (zeigt an aus wie vielen Pixeln die Bilddarstellung besteht)
                </li>
            </ul>
            <p class="text-justify">
                Unumstritten ist, dass Google diese Daten verwendet und analysiert noch bevor Sie auf das Häkchen „Ich bin
                kein
                Roboter“ klicken. Bei der Invisible reCAPTCHA-Version fällt sogar das Ankreuzen weg und der ganze
                Erkennungsprozess läuft im Hintergrund ab. Wie viel und welche Daten Google genau speichert, erfährt man von
                Google nicht im Detail.
                <br>
                Folgende Cookies werden von reCAPTCHA verwendet: Hierbei beziehen wir uns auf die reCAPTCHA Demo-Version von
                Google unter https://www.google.com/recaptcha/api2/demo. All diese Cookies benötigen zu Trackingzwecken eine
                eindeutige Kennung. Hier ist eine Liste an Cookies, die Google reCAPTCHA auf der Demo-Version gesetzt hat:
            </p>
            <ul>
                <li>
                    Name: IDE
                    <br>Ablaufzeit: nach einem Jahr
                    <br>Verwendung: Dieses Cookie wird von der Firma DoubleClick (gehört auch Google) gesetzt, um die
                    Aktionen
                    eines Users auf der Webseite im Umgang mit Werbeanzeigen zu registrieren und zu melden. So kann die
                    Werbewirksamkeit gemessen und entsprechende Optimierungsmaßnahmen getroffen werden. IDE wird in Browsern
                    unter der Domain doubleclick.net gespeichert.
                    <br>Beispielwert: WqTUmlnmv_qXyi_DGNPLESKnRNrpgXoy1K-pAZtAkMbHI-311142561
                </li>
                <li>
                    Name: 1P_JAR
                    <br>Ablaufzeit: nach einem Monat
                    <br>Verwendung: Dieses Cookie sammelt Statistiken zur Website-Nutzung und misst Conversions. Eine
                    Conversion
                    entsteht z.B., wenn ein User zu einem Käufer wird. Das Cookie wird auch verwendet, um Usern relevante
                    Werbeanzeigen einzublenden. Weiters kann man mit dem Cookie vermeiden, dass ein User dieselbe Anzeige
                    mehr
                    als einmal zu Gesicht bekommt.
                    <br>Beispielwert: 2019-5-14-12
                </li>
                <li>
                    Name: ANID
                    <br>Ablaufzeit: nach 9 Monaten
                    <br>Verwendung: Viele Infos konnten wir über dieses Cookie nicht in Erfahrung bringen. In der
                    Datenschutzerklärung von Google wird das Cookie im Zusammenhang mit „Werbecookies“ wie z. B. “DSID”,
                    “FLC”,
                    “AID”, “TAID” erwähnt. ANID wird unter Domain google.com gespeichert.
                    <br>Beispielwert: U7j1v3dZa3111425610xgZFmiqWppRWKOr
                </li>
                <li>
                    Name: CONSENT
                    <br>Ablaufzeit: nach 19 Jahren
                    <br>Verwendung: Das Cookie speichert den Status der Zustimmung eines Users zur Nutzung unterschiedlicher
                    Services von Google. CONSENT dient auch der Sicherheit, um User zu überprüfen, Betrügereien von
                    Anmeldeinformationen zu verhindern und Userdaten vor unbefugten Angriffen zu schützen.
                    <br>Beispielwert: YES+AT.de+20150628-20-0
                </li>
                <li>
                    Name: NID
                    <br>Ablaufzeit: nach 6 Monaten
                    <br>Verwendung: NID wird von Google verwendet, um Werbeanzeigen an Ihre Google-Suche anzupassen. Mit
                    Hilfe
                    des Cookies „erinnert“ sich Google an Ihre meist eingegebenen Suchanfragen oder Ihre frühere Interaktion
                    mit
                    Anzeigen. So bekommen Sie immer maßgeschneiderte Werbeanzeigen. Das Cookie enthält eine einzigartige ID,
                    die
                    Google benutzt um persönliche Einstellungen des Users für Werbezwecke zu sammeln.
                    <br>Beispielwert: 0WmuWqy311142561zILzqV_nmt3sDXwPeM5Q
                </li>
                <li>
                    Name: DV
                    <br>Ablaufzeit: nach 10 Minuten
                    <br>Verwendung: Sobald Sie das „Ich bin kein Roboter“-Häkchen angekreuzt haben, wird dieses Cookie
                    gesetzt.
                    Das Cookie wird von Google Analytics für personalisierte Werbung verwendet. DV sammelt Informationen in
                    anonymisierter Form und wird weiters benutzt, um User-Unterscheidungen treffen zu können.
                    <br>Beispielwert: gEAABBCjJMXcI0dSAAAANbqc311142561
                </li>
            </ul>
            <p class="text-justify">
                Anmerkung: Diese Aufzählung kann keinen Anspruch auf Vollständigkeit erheben, da Google erfahrungsgemäß die
                Wahl
                ihrer Cookies immer wieder auch verändert.
            </p>

            <h5 class="text-center">Wie lange und wo werden die Daten gespeichert?</h5>
            <p class="text-justify">
                Durch das Einfügen von reCAPTCHA werden Daten von Ihnen auf den Google-Server übertragen. Wo genau diese
                Daten
                gespeichert werden, stellt Google, selbst nach wiederholtem Nachfragen, nicht klar dar. Ohne eine
                Bestätigung
                von Google erhalten zu haben, ist davon auszugehen, dass Daten wie Mausinteraktion, Verweildauer auf der
                Webseite oder Spracheinstellungen auf den europäischen oder amerikanischen Google-Servern gespeichert
                werden.
                Die IP-Adresse, die Ihr Browser an Google übermittelt, wird grundsätzlich nicht mit anderen Google-Daten aus
                weiteren Google-Diensten zusammengeführt. Wenn Sie allerdings während der Nutzung des reCAPTCHA-Plug-ins bei
                Ihrem Google-Konto angemeldet sind, werden die Daten zusammengeführt. Dafür gelten die abweichenden
                Datenschutzbestimmungen der Firma Google.
            </p>

            <h5 class="text-center">Wie kann ich meine Daten löschen bzw. die Datenspeicherung verhindern?</h5>
            <p class="text-justify">
                Wenn Sie wollen, dass über Sie und über Ihr Verhalten keine Daten an Google übermittelt werden, müssen Sie
                sich,
                bevor Sie unsere Webseite besuchen bzw. die reCAPTCHA-Software verwenden, bei Google vollkommen ausloggen
                und
                alle Google-Cookies löschen. Grundsätzlich werden die Daten sobald Sie unsere Seite aufrufen automatisch an
                Google übermittelt. Um diese Daten wieder zu löschen, müssen Sie den Google-Support auf
                <a href="https://support.google.com/?hl=de&tid=311142561"><u>https://support.google.com/?hl=de&tid=311142561</u></a>
                kontaktieren.
                <br>
                Wenn Sie also unsere Webseite verwenden, erklären Sie sich einverstanden, dass Google LLC und deren
                Vertreter
                automatisch Daten erheben, bearbeiten und nutzen.
                <br>
                Etwas mehr über reCAPTCHA erfahren Sie auf der Webentwickler-Seite von Google auf
                <a href="https://developers.google.com/recaptcha/">https://developers.google.com/recaptcha/</a>. Google geht
                hier zwar auf die technische Entwicklung der reCAPTCHA näher ein, doch genaue Informationen über
                Datenspeicherung und datenschutzrelevanten Themen sucht man auch dort vergeblich. Eine gute Übersicht über
                die grundsätzliche Verwendung von Daten bei Google finden Sie in der hauseigenen Datenschutzerklärung auf
                <a href="https://www.google.com/intl/de/policies/privacy/"><u>https://www.google.com/intl/de/policies/privacy/</u></a>.
            </p>

        </div>

        <% include partials/bottom.ejs %>
    </div>


</div>

<% include partials/footer.ejs %>