<% include partials/header.ejs %>
<% include partials/sidebar.ejs %>

<!-- Import Twitch Player -->
<script src="https://player.twitch.tv/js/embed/v1.js"></script>
<!-- include additional scripts -->
<script src="js/handleStreams.js"></script>

<div id="content">
    <!-- Include Navigation -->
    <% include partials/topNav.ejs %>
    <% include partials/loadingSpinner.ejs %>

    <!-- container - streams -->
    <div id="main-content">
        <div class="container">
            <br>
            <h1 class="text-center" id="streams">Streams</h1>

            <!-- ezlife.eu streams -->
            <div class="list-group">
                <div class="row">
                    <% for(let i = 0; i < data.twitchStreams.length; i++) { %>
                        <div class="col-sm-12 col-md-6">
                            <br>
                            <a href="#currentStream" onclick="streamButtonClicked('<%= data.twitchStreams[i].name %>')"
                               class="list-group-item list-group-item-action">
                                <div class="row">
                                    <div class="col-4">
                                        <img class="img-thumbnail img-fluid" src="<%= data.twitchStreams[i].img %>">
                                    </div>
                                    <div class="col-8">
                                        <%= data.twitchStreams[i].name %>
                                        <% if(data.twitchStreams[i].online) { %>
                                            <span class="badge badge-success float-right">Online</span>
                                        <% } else { %>
                                            <span class="badge badge-danger float-right">Offline</span>
                                        <% } %>
                                        <br>
                                        <small class="text-muted">streaming: <%= data.twitchStreams[i].game %></small>
                                        <div class="dropdown-divider"></div>
                                        <%= data.twitchStreams[i].description %>
                                    </div>
                                </div>
                            </a>
                        </div>
                    <% } %>
                    <!-- Adsbygoogle -->
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <ins class="adsbygoogle"
                                 style="display:block"
                                 data-ad-format="fluid"
                                 data-ad-layout-key="-fb+5w+4e-db+86"
                                 data-ad-client="ca-pub-4826635938982516"
                                 data-ad-slot="7520788527">
                            </ins>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <ins class="adsbygoogle"
                                 style="display:block"
                                 data-ad-format="fluid"
                                 data-ad-layout-key="-fb+5w+4e-db+86"
                                 data-ad-client="ca-pub-4826635938982516"
                                 data-ad-slot="8772986983">
                            </ins>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <!-- handle dynamic content - stream + chat -->
            <div class="row">
                <div class="col-12">
                    <div id="current-stream-heading"></div>
                    <div id="current-stream"></div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12">
                    <div id="current-stream-chat-heading"></div>
                    <div id="current-stream-chat"></div>
                </div>
            </div>
            <br>

        </div>

        <% include partials/bottom.ejs %>
    </div>


</div>

<% include partials/footer.ejs %>