<% include partials/header.ejs %>


<!-- Import Twitch Player -->
<script src="https://player.twitch.tv/js/embed/v1.js"></script>
<!-- include additional scripts -->
<script src="js/handleStreams.js"></script>


<!-- container - streams -->
<div class="container">
    <br>
    <h1 class="text-center" id="streams">Streams</h1>

    <% include partials/loadingSpinner.ejs %>

    <div id="tabContent" hidden>
        <!-- ezlife.eu streams -->
        <div class="list-group">
            <div class="row">
                <% for(let i=0; i < twitchStreams.length; i++) { %>
                <div class="col-sm-12 col-md-6">
                    <br>
                    <a href="#currentStream" onclick="streamButtonClicked('<%= twitchStreams[i].name %>')"
                       class="list-group-item list-group-item-action">
                        <div class="row">
                            <div class="col-4">
                                <img class="img-thumbnail img-fluid" src="<%= twitchStreams[i].img %>">
                            </div>
                            <div class="col-8">
                                <%= twitchStreams[i].name %>
                                <% if(twitchStreams[i].online) { %>
                                <p style="text-align: right"><span class="badge badge-success">Online</span></p>
                                <% } else { %>
                                <span class="badge badge-danger float-right">Offline</span>
                                <% } %>
                                <br>
                                <small class="text-muted">streaming: <%= twitchStreams[i].game %></small>
                                <div class="dropdown-divider"></div>
                                <%= twitchStreams[i].description %>
                            </div>
                        </div>
                    </a>
                </div>
                <% } %>
            </div>
        </div>
        <br>
        <!-- handle dynamic content - stream + chat -->
        <div class="row">
            <div class="col-12">
                <div id="current-stream-heading"></div>
                <div id="current-stream"></div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12">
                <div id="current-stream-chat-heading"></div>
                <div id="current-stream-chat"></div>
            </div>
        </div>
        <br>

    </div>
</div>

<% include partials/footer.ejs %>