<%- include ('../partials/header.ejs') -%>

<%- include ('../partials/streamToasts.ejs') -%>

<!-- Include Sidebar -->
<%- include ('../partials/sidebar.ejs') -%>

<!-- Start Page Content -->
<div id="content">

    <!-- Include Navigation -->
    <%- include ('../partials/topNav.ejs') -%>
    <%- include ('../partials/loadingSpinner.ejs') -%>

    <div id="main-content">
        <div class="container">
            <br>
            <div class="row">
                <!-- Content -->
                <div class="col-12">
                    <!-- Services -->
                    <h1 class="text-center">Services</h1>
                    <div class="row">
                        <% for (let i = 0; i < data.services.length; i++) { %>
                            <div class="col-sm-12 col-md-6">
                                <a href="<%= data.services[i].uri %>">
                                    <div class="list-group-item list-group-item-action">
                                        <div class="row no-gutters">
                                            <div class="col-md-4">
                                                <img src="<%= data.services[i].img %>" class="card-img"
                                                     id="serviceItem">
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body">
                                                    <h5 class="card-title"><b><%= data.services[i].name %></b></h5>
                                                    <p class="card-text"><%= data.services[i].description %></p>
                                                    <p class="text-right">
                                                        <small>powered by: <%= data.services[i].sponsor %></small>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <br>
                            </div>
                        <% } %>
                        <!-- Single Ad -->
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <ins class="adsbygoogle"
                                     style="display:block"
                                     data-ad-format="fluid"
                                     data-ad-layout-key="-fb+5w+4e-db+86"
                                     data-ad-client="ca-pub-4826635938982516"
                                     data-ad-slot="8557364562">
                                </ins>
                            </div>
                        </div>
                    </div>

                    <!-- Resources -->
                    <h1 class="text-center">Resources</h1>
                    <div class="row">
                        <% for (let i = 0; i < data.resources.length; i++) { %>
                            <div class="col-sm-12 col-md-6">
                                <a href="<%= data.resources[i].uri %>">
                                    <div class="list-group-item list-group-item-action">
                                        <div class="row no-gutters">
                                            <div class="col-md-4">
                                                <img src="<%= data.resources[i].img %>" class="card-img"
                                                     id="serviceItem">
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body">
                                                    <h5 class="card-title"><b><%= data.resources[i].name %></b></h5>
                                                    <p class="card-text"><%= data.resources[i].description %></p>
                                                    <p class="text-right">
                                                        <small>powered by: <%= data.resources[i].sponsor %></small>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <br>
                            </div>
                        <% } %>
                        <!-- Single Ad -->
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <ins class="adsbygoogle"
                                     style="display:block"
                                     data-ad-format="fluid"
                                     data-ad-layout-key="-fb+5w+4e-db+86"
                                     data-ad-client="ca-pub-4826635938982516"
                                     data-ad-slot="8557364562">
                                </ins>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <!-- Include Bottom Content -->
        <%- include ('../partials/bottom.ejs') -%>
    </div>
</div>

<%- include ('../partials/footer.ejs') -%>